@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font:12px '宋体', Arial, Helvetica, sans-serif; color:#000;}

.am-wizard{ width:99%; height:410px; overflow:hidden; border:1px solid #d6d3c2;}
.am-wizard a{ text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur()); color:#453821; }
.steps{ list-style:none; width:100%; height:30px; background:url(../images/titlebg.jpg) repeat-x; border-bottom:1px solid #d6d3c2; position:relative; overflow:hidden;}
.steps a{ display:block; width:80px; height:30px;}
.steps a.checked{background:url(../images/aselected.gif) 80% 50% no-repeat;}
.steps li{ list-style:none; display:inline-block; width:120px; height:30px; line-height:30px; text-align:left; font-weight:bold; padding:0 0 0 35px; background:url(../images/tabtitlebg12.png) no-repeat; position:absolute;
_background:none;
_filter:progid:dximagetransform.microsoft.alphaimageloader(enabled='true', sizingMethod='crop',src='../images/tabtitlebg12.png');}

.steps li.fir-selected{ background:url(../images/tabtitlebg2.png) no-repeat;
_background:none;
_filter:progid:dximagetransform.microsoft.alphaimageloader(enabled='true', sizingMethod='crop',src='../images/tabtitlebg2.png');}

.steps li.selected{ background:url(../images/tabtitlebg1.png) no-repeat;
_background:none;
_filter:progid:dximagetransform.microsoft.alphaimageloader(enabled='true', sizingMethod='crop',src='../images/tabtitlebg1.png');}

/*    -----------------contents area----------------------             */
.wizard-cont{width:100%; height:340px; overflow-y:auto; border:0px solid #000; overflow-x:hidden;}

/*---------------------------tabbtn------------------------------------*/
.wizard-btn{width:100%; height:41px; line-height:41px;border-top:1px solid #d9d6c7;}
.wizard-btn a{ display:block; margin:2px 0 0 0;width:108px; height:37px; line-height:37px; text-align:center; color:#666; background:url(../images/btn_1.png) no-repeat; }
.wizard-btn a:hover{background:url(../images/btn_2.png) no-repeat; color:#F93; }
.wizard-btn .prev{ width:108px; height:41px; float:left; display:none; }
.wizard-btn .next{ width:108px; height:41px; float:right;}
